TRACK_ANYWHERE_DEV_API_BIND=127.0.0.1
TRACK_ANYWHERE_DEV_API_PORT=8000
TRACK_ANYWHERE_DEV_POSTGRES_PORT=55432
TRACK_ANYWHERE_DEV_IMAGE=track-anywhere:dev
TRACK_ANYWHERE_API=http://127.0.0.1:8000
TRACK_ANYWHERE_SERVICE_URL=http://127.0.0.1:8000
TRACK_ANYWHERE_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
